#container-comp{
    @include verticalCenter;
    flex-direction: column;
    margin-top: 200px;
    color: white;


    #title-comp{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid white;
        width: 600px;
        padding-bottom: 50px;
        font-size: 60px;
    }

    .full-comp{
        display: flex;
        .comp{
            display: flex;
            flex-direction: column;
            font-size: 40px;
            margin: 25px;
        }
        h3{
            margin-top: 40px;
            font-style: italic;
        }
        ul{
            margin-top: 20px;
        }
    }
    
}