
#container-form{
    @include verticalCenter;
    background-color: #112840;
    flex-direction: column;
    margin: 1.3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 20px;
    
    @media screen and (min-width: 425px) {
        margin: 2rem;
    }
    @media screen and (min-width: 768px) {
        width: 50%;
        margin: auto;
        padding: 2rem;
        margin-bottom: 2rem;
    }
    @media screen and (min-width: 1440px) {
        width: 40%;
        margin-bottom: 3rem;
    }

    h1{ 
        font-size: 1.5rem;
    } 
    form{ 
        input, textarea{ 
            color: black;
            padding: 0.8em; 
            border-radius: 10px; 
            width: 90%; 
            margin: 1em 1em 0em; 
            font-size: 1rem;
        } 

        textarea{ 
            height: 100px; 
        }  

        #input-submit{ 
            color: #C2F3FF;
            background: #113555; 
            border: none;
            &:hover{
                cursor: pointer;
                transition: 0.3s ease;
                transform: translateY(-3px);
                background: #175285; 
            }
        } 
    } 
}






