
#container-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }

    #title{
        font-size: 1.5rem;
        // color: white;
        margin-left: 30px;
        @media screen and (min-width: 768px) {
            margin-left: 50px;
        }
    }

    #lien{
        flex-direction: row;
        @media screen and (min-width: 768px) {
            margin-right: 20px;
        }

        img{
            width: 40px;
            &:hover{
                transition: 0.2s ease;
                transform: translateY(-5px);
            }
        }
    }

    .side-bar {
        position: fixed;
        top: -150px;
        transition: 0.5s ease-out;
        z-index: 2;
        padding: 40px;
        background: #7CE2FE;
        width: 100vw;
        &.active{
            top: 0;

            span{
                position: absolute;

                &:nth-child(1){
                    transform: rotate(45deg);
                    width: 25px;
                }
                &:nth-child(2){
                    opacity: 0;
                }  
                &:nth-child(3){
                    transform: rotate(-45deg);
                    width: 25px;
                }
            }
        }

        .toggle-btn {
            position: absolute;
            top: 155px;
            left: -5px;
            padding: 20px;

            span {
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 5px;
                background: #7CE2FE;
                margin-top: 4px;
                transition: 0.3s ease;
            }&:hover {
                cursor: pointer;
                span{
                    width: 25px;
                }
            }
        }

        ul{
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            @media screen and (min-width: 768px) {
                justify-content: center;
                gap: 100px;
            }

            a {
                cursor: pointer;
                @media screen and (min-width: 768px) {
                    font-size: 1.5rem;
                    &:hover {
                        color: rgba(62,66,177,1);
                        transition: 0.2s ease-out;
                        transform: scale(1.2);
                    } 
                }
            }
        }
    }
}