

#container-projet{
    
    #container-title{
        @include verticalCenter;
        flex-direction: column;
        margin-top: 50px;
        color: white;
    
        #title-projet{
            font-size: 1.5rem;
        }   
        .fleche{
            width: 2rem;
        }
        p{
            text-align: center;
            font-size: 1rem;
            margin-top: 20px;
            width: 80%;
    
        }
    }
    
    #container-full-projet{
        margin-top: 20px;
        background: rgb(255,0,0);
        background: linear-gradient(0deg, rgba(255,0,0,1) 4%, rgba(255,0,0,1) 4%, rgba(255,0,0,1) 15%, rgba(254,103,106,1) 25%, rgba(254,130,134,1) 45%, rgba(62,177,91,1) 60%, rgba(29,185,84,1) 70%, rgba(29,161,242,1) 81%, rgba(29,161,242,1) 95%);    
        color: white;
        #twitter,
        #spotify,
        #meetic,
        #cinema{
            margin: 5rem 2rem 0rem;
            padding-bottom: 2rem;
            h2{
                font-size: 1.5rem;
            }   
            img{
                width: 100%;
                border: solid 2px white;
                border-radius: 20px;
            }
            div{
                border: solid 1px black;
                border-radius: 15px;
                margin-top: 15px;
                box-shadow: 10px 9px 5px 3px rgba(0, 0, 0, 0.631372549);
            }
            p{
                font-size: 1rem;
                margin: 20px;
            }
            a{
                @include verticalCenter;
                font-size: 1rem;
                margin: 10px;
            }
            // .button{
            //     @include verticalCenter;
            // }
            // .fleche-direction{
            //     border: none;
            //     width: 150px;
            //     margin: 100px;
            // }
        }
        // #twitter{
        //     height: 100vh;
        // }
        // #spotify{
        //     height: 95vh;
        // }
        // #meetic{
        //     height: 95vh;
        // }
        // #cinema{
        //     height: 80vh;
        // }
    } 
}